
# ==================================================
                   # Banco de Dados
# ==================================================
sqlalchemy
Alembic

# ==================================================
                # PROCESSAMENTO DE DADOS
# ==================================================
numpy>=1.26.0
pandas>=2.2.0
pyarrow>=14.0.0
openpyxl

# ==================================================
                # Configuração e Ambiente
# ==================================================
python-dotenv
pydantic
pydantic-settings


# ==================================================
                # QUALIDADE DE CÓDIGO
# ==================================================
flake8
black
mypy

# ==================================================
                    # TESTES
# ==================================================
pytest
coverage


# ==================================================
                    # FRONT-END
# ==================================================
streamlit


# ==================================================
                    # IA
# ==================================================
google-generativeai
google-genai


# ==================================================
                    # LOGGING
# ==================================================
logging
python-json-logger

